* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.container {
  background-color: white;
  width: 450px;
  padding: 1.5rem;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

form {
  margin: 0 25%;
  text-align: center;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin-bottom: 0.4rem;
}
form a {
  text-decoration: none;
}

input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  padding-left: 0;
  font-size: 15px;
}

.input-group {
  padding: 5% 0;
  position: relative;
}

input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid cadetblue;
}

input::placeholder {
  text-align: center;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: rgb(125, 125, 125);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: darkslategrey;
  color: white;
}

.links {
  text-align: center;
  padding: 0 4rem;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

button {
  color: #757575;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  color: darkslategrey;
}

#birthdate {
  text-align: center;
}